[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/WebAvanzadas-microservices/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/WebAvanzadas-microservices/products-ms.git
